.indexreviews_wrapper {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;

  .indexreviews_content {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .indexreviews_left {
      height: 50%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 2em;
      .quote-left {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: scale(2);
      }
      .quote-right {
        position: absolute;
        bottom: 10%;
        right: 10%;
        transform: scale(2);
      }
      h5 {
        width: 75%;
      }
    }
    .indexreviews_right {
      height: 50%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ul {
        list-style-type: none;
        align-self: flex-start;
        font-family: "Open Sans", sans-serif;
      }
      p {
        width: 75%;
      }
    }
  }
  .indexreviews_progress {
    display: flex;
    align-items: center;
    .progress_circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #999;
      margin: 0 1em;
    }
    .active {
      background-color: #1452a3;
    }
  }
}
