@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.button-blue_pos {
  height: 50px;
  padding: 0 1.5em;
  border-radius: 12px;
  background-color: rgba(20, 82, 163, 0.85);
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 2px 8px rgba(20, 82, 163, 0.75);
}
.button-blue_pos:hover {
  background-color: rgba(20, 82, 163, 1);
  box-shadow: 2px 2px 15px rgba(20, 82, 163, 1);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.button-purple_pos {
  height: 50px;
  padding: 0 1.5em;
  border-radius: 12px;
  background-color: rgba(192, 76, 253, 0.85);
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 2px 8px rgba(192, 76, 253, 0.75);
}
.button-purple_pos:hover {
  background-color: rgba(192, 76, 253, 1);
  box-shadow: 2px 2px 15px rgba(192, 76, 253, 1);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.button-green_pos {
  height: 50px;
  padding: 0 1.5em;
  border-radius: 12px;
  background-color: rgba(6, 186, 99, 0.85);
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 2px 8px rgba(6, 186, 99, 0.75);
}
.button-green_pos:hover {
  background-color: rgba(6, 186, 99, 1);
  box-shadow: 2px 2px 15px rgba(6, 186, 99, 1);
  transition: 0.1s ease-in;
  cursor: pointer;
}
.button-green_neg {
  height: 50px;
  padding: 0 1.5em;
  border-radius: 12px;
  background-color: transparent;
  border: solid 2px rgba(6, 186, 99, 0.85);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 2px 8px rgba(6, 186, 99, 0.75);
}
.button-green_neg:hover {
  background-color: rgba(6, 186, 99, 1);
  box-shadow: 2px 2px 15px rgba(6, 186, 99, 1);
  transition: 0.1s ease-in;
  cursor: pointer;
}
