.index_hero {
    height: 90vh;
    width: 100vw;
    display: flex;
    .index_hero_left,
    .index_hero_right {
        height: 100%;
        width: 50%;
        background-color: #071B36;
    }
    .index_hero_left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;;
        align-items: center;
        h1 {
            color: #fff;
            width: 75%;
            font-size: 48px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
        }
        
    }
}